@model CakeModel

<body>
<div class="container2">
  
        
            <div class="image">
            <img src="/imagem/@Model.Cover" alt="" class="img-inside-border"/>
           


            
            </div>
        <div class="text">
            <h2>@Model.Flavor</h2>
            <p>
                @Model.Description
            </p>



            <label>
                <input type="checkbox" id="isSelected">

                <span>SMALL</span>
                <div id="confirmation" style="display:none">
                <ul class="list-group list-group-flush">
                        <li class="list-group-item"> £ @(Model.Price)</li>
                   
                </ul>
                </div>
            </label>

            <label>
                <input type="checkbox" id="isSelectedM">

                <span>MEDIUM</span>
                <div id="confirmationM" style="display:none">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> £ @(Model.Price + 15)</li>

                    </ul>
                </div>
            </label>


            <label>
                <input type="checkbox" id="isSelectedL">

                <span>LARGE</span>
                <div id="confirmationL" style="display:none">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> £ @(Model.Price + 25)</li>

                    </ul>
                </div>
            </label>









              @*       <img src="/imagem/iconCake.png" alt="" width=25 /> *@
          
             
        </div>

       
    </div>


</body>